*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat,Georgia;
	text-decoration:none;

}
body{
	background-color: black ;
	height: 100vh;
	padding: 10px;
}
#division1{
	background-color: #3064C3 ;
	text-align: center;
	margin: 0px auto;
	color: #F5D4D4;
	text-shadow: 1px 1px 2px #1E8AE5;
	border: 1px solid #5C9CDD;
	height: 32px;
	width: 280px;
	font-size: 100%;
	line-height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0 white;
}

#texto{
	box-shadow: 0px 0px 10px 0 white;
	background-color: #0E8ED8;
	width: 270px;
	text-align: center;
	padding: 3px 0px;
	font-size: 100%;
	font-weight:600;
	border-radius: 5px;
	}

#formdegoogle{
	display:flex;
	flex-direction: column;
	align-items: center;	}	



#casa{
		display:flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 10px 0 white;
	}

html{
display:flex;
flex-direction: column;
align-items: center;
}